.header, .footer
  position: fixed
  display: flex
  align-items: center
  width: 100vw
  height: 7vh
  padding: 0 10vw
  background-color: #1b1b1b
  color: #fff
  z-index: 20
  @media only screen and (max-width: 1024px)
    padding: 0 20px
  @media only screen and (max-width: 425px)
    padding: 0 3vw
  &__content
    font-size: 2em
    @media only screen and (max-width: 1366px)
      font-size: 1.4em
    @media only screen and (max-width: 1024px)
      font-size: 1.4em
    @media only screen and (max-width: 768px)
      font-size: 1.2em
    @media only screen and (max-width: 425px)
      font-size: 1em
  &__logo
    width: auto
    height: 90%
    margin-right: 15px

.header
  top: 0
  box-shadow: 0 10px 20px #18ff00

.footer
  bottom: 0
  justify-content: space-between
  box-shadow: 0 -10px 20px #18ff00
