.footer__socials
    width: 230px
    height: 100%
    padding: 5px 0
    display: flex
    align-items: center
    justify-content: flex-end
    @media only screen and (max-width: 320px)
      width: 180px
    &:last-child
        margin: 0
    & img, a
      width: auto
      height: 100%
      margin-right: 3%
      transition: .2s
      &:hover
        scale: 1.1
      &:last-child
        margin-right: 0
